 Common Build Folders
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[Rr]elWithDebugInfo/
cmake-build-*/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
enDJIN


/Default/
# Log files
*.log

#Eclipse Files
.cproject
.project
.settings/

# IDEs
.vscode/
.vs/
.idea/


# User Files
CMakeUserPresets.json
CMakeUserPresets.json.user

# CMake Files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
